.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child-left {
    height: 25%;
    width: 45%;
    float: left;
    margin: 2.5%;
    border: 2px solid red;
}

.float-child-right {
    height: 25%;
    width: 45%;
    float: right;
    margin: 2.5%;
    border: 2px solid green;
}