.float-container {
    border: 3px solid #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    height: 840px;
}

.float-child-left {
    background-color: lightblue !important;
    height: 25%;
    width: 45%;
    float: left;
    margin: 2.5%;
    border: 2px solid red;
    display: inline-block;
    border-radius: 10px;
}

.float-child-right {
    background-color: lightblue !important;
    height: 25%;
    width: 45%;
    float: right;
    margin: 2.5%;
    border: 2px solid green;
    display: inline-block;
    border-radius: 10px;
}

#box-1, #box-2, #box-3, #box-4 {
    background-color: lightblue !important;
    height: 300px !important;
}
